*{

	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans'
}

html,body{

	height: 100%;
}

.center{

	width: 1200px;
	margin: 0 auto;
}

.header{

	width: 100%;
	height: 60px;
	background-color: #212343;
}

.header img{

	margin: 15px;
}

.container-banner{

	width: 100%;
	height: 547px;
	background-image: url('../img/header_bg.png');
	background-size: cover;
	background-position: center;
}

.container-banner > .center {

	height: 100%;
}

.form{

	width: 400px;
	height: calc(100% + 30px);
	background-color: white;
	position: relative;
	top: -15px;
	border-width: 12px;
	border-color: rgba(120,120,120,0.5);
	border-style: solid;
	background-clip: padding-box;
	float: right;
	padding: 10px;
}

.form h2{

	font-weight: normal;
	color: #999999;
	font-size: 20px;
}

.input-container{

	margin-top: 20px;
}

.input-container span, .form p{

	display: inline-block;
	width: 100%;
	font-size: 17px;
	color: #bbbbbb;

}

.warning {

	margin: 20px 0;
}

.input-container input[type="text"]{

	width: 344px;
	height: 55px;
	border:1px solid #ccc;
	margin-top:8px;
}

.form input[type=submit]{
	width: 200px;
	height: 50px;
	background-color: #363a6d;
	color: white;
	font-size: 20px;
	font-weight: normal;
	display: inline-block;
	cursor: pointer;
	border-bottom: 5px solid #4a5097;
	border-top: 0;
	border-left: 0;
	border-right: 0;
}

.form .input-submit-container{

	text-align: center;
}

.form input[type=submit]:hover{

	background-color: #323665;
}

.container-list{

	float: left;
	width: 619px;
	height: 270px;
	background-color:rgba(33,35,67,0.7);
	margin-top: 40px;
	padding:30px;
}

.container-list ul{

	list-style-position: inside;

}

.container-list ul li {

	margin-top: 18px;
	color: white;
}






